/* Custom CSS */
/* Modified from default theme */

/* Change header color */
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 { 
    color: #c1d192;
}

/* Two column layout */
.twocol {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}

/* Just some custom stuff */
.customstyle {
    
    margin-left: auto !important;
    margin-right: auto !important;
    color: green;
	width: 50%;
	height: 50%;
	background: white;
    
}

/* The reveal.js way of defining new slides*/
/* Add this to slide using --- ds:greenjs */
.greenjs .reveal .state-background {
    background: rgba( 50, 200, 90, 0.9 );
}

